@model BasicInfoModel

<div class="basic-info">
    <h5>Basic Info</h5>


    <form method="post" asp-controller="Account" asp-action="UpdateBasicInfo" novalidate>






        <div class="content">
            <div id="form-firstname" class="input-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="invalid-feedback"></span>
            </div>
            <div id="form-lastname" class="input-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="invalid-feedback"></span>
            </div>
            <div id="form-email" class="input-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="invalid-feedback"></span>
            </div>
            <div id="form-phone" class="input-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="invalid-feedback"></span>
            </div>
            <div id="form-bio" class="input-group">
                <label asp-for="Biography"></label>
                <input asp-for="Biography" class="form-control" />
                <span asp-validation-for="Biography" class="invalid-feedback"></span>
            </div>



            <div id="form-buttons">
                <button class="btn-gray-small" type="reset"> Cancel</button>
                <button class="btn-theme-small" type="submit" name="action" value="basic">Save changes</button>
            </div>




        </div>
    </form>



</div>