.courses {
    padding: 1rem 0;


    .container {

        .courses-options {
            display: flex;
            padding-top: 2rem;
            align-items: center;



            h1 {
                flex-grow: 1;
            }


            .form-options {
                display: flex;




                select {
                    box-shadow: none;
                    min-width: 250px;
                }

                input {
                    border-right: 0;
                    border-color: var(--clr-gray-400);
                    box-shadow: none;
                    margin-left: 1rem;
                    min-width: 250px;
                }

                button {
                    border-left: 0;
                    border-color: var(--clr-gray-400);
                }
            }
        }
    }
}
