.courses-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    grid-column: 1 / 13;
    padding-top: 2rem;
    gap: 2rem;

    @include xxl {
        grid-column: 5 / 13;
    }
}