.app {
    display: grid;
    grid-template-columns: 2fr;
    align-items: end;
    padding: 1rem 0;

    .star-rating {

        .fa-solid {
            color: var(--clr-warning);
        }

        
    }




    @include sm {
        grid-template-columns: 2fr;
    }


    @include md {
        grid-template-columns: 2fr;
    }

    @include lg {
        grid-template-columns: 2fr auto;
    }



    .app-img {
        padding-top: 1rem;
    }
    // @include sm {
    //     grid-template-columns: 2fr auto;
    // }
    // @include lg {
    //     grid-template-columns: 1fr auto;
    // }
}
