a {
    @include standard-text;
    color: var(--clr-theme);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.menu-link {
    @include text-nav;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover,
    &:active,
    &:focus,
    .active {
        color: var(--clr-theme);
        text-decoration: none;
    }
}
