@model IEnumerable<UnsortedListModel>

<ul class="icon-list">
    @if(Model != null)
    {
        @foreach(var list in Model)
        {
            <li class="text-m"><i class="fa-regular @list.Icon"></i>@list.Description</li>
        }
    }
</ul>