<div class="courses-bread">
    <a href="#"><i class="fa-regular fa-house me-2"></i>Home</a>


    <i class="fa-regular fa-angles-right"></i>

    <a href="#">Courses</a>


    <i class="fa-regular fa-angles-right"></i>


    <a href="#">Fullstack Web Developer Course from Scratch</a>
</div>