html, body {
    @include standard-text;
    font-size: 16px;
    background-color: var(--background-color);
}


img, svg {
    max-width: 100%;
    height: auto;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.text-xs {
    @include text-xs;
}

.text-s {
    @include text-s;
}

.text-m {
    @include text-m;
}

.text-lg {
    @include text-lg;
}

.text-xl {
    @include text-xl;
}

.text-lead {
    @include text-lead;
}

.d1 {
    @include d1;
}

.d2 {
    @include d2;
}

.d3 {
    @include d3;
}

.d4 {
    @include d4;
}

.d5 {
    @include d5;
}

.d6 {
    @include d6;
}

h1, .h1 {
    @include h1;
}

h2, .h2 {
    @include h2;
}

h3, .h3 {
    @include h3;
}

h4, .h4 {
    @include h4;
}

h5, .h5 {
    @include h5;
}

h6, .h6 {
    @include h6;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
}

.icon-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0;


    li {
        padding: 6px 0;
        //text-indent: -11px;
        position: relative;
        padding-left: 30px;
    }

    i {
        color: var(--clr-theme);
        //margin-right: 7px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.error-message {
    @include text-m;
    
    
    background-color: var(--clr-danger);
    color: var(--clr-white);
    
    border-radius: 6px;
    margin-bottom: .6rem;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 0;

   
    ul {
        margin: 0;
    }
}



.alert-success {
    margin-top: -2rem;
    margin-bottom: -1rem;
    
    text-align: center;
    font-weight: 500;
}

.alert-danger {
    margin-top: -2rem;
    margin-bottom: -1rem;
    text-align: center;
    font-weight: 500;
}


.custom-tooltip {
    --bs-tooltip-font-size: 1rem;
    --bs-tooltip-padding-y: .4rem;
    --bs-tooltip-padding-x: 1rem;
    --bs-tooltip-opacity: 1;
    
}