@model CourseModel

<section class="courses-admin">
    <div class="container">
        <form method="post" asp-controller="Admin" asp-action="UpdateCourse" novalidate enctype="multipart/form-data">
            <h1>Update Course</h1>

        </form>
    </div>
</section>


<div class="content">

    <div asp-validation-summary="All" class="validation-summary"></div>




    <input asp-for="Id" hidden />
    <input asp-for="Created" hidden />
    <input asp-for="LastUpdated" hidden />


    <div id="form-title" class="input-group">
        <label asp-for="CourseTitle"></label>
        <input asp-for="CourseTitle" class="form-control" />
        <span asp-validation-for="CourseTitle" class="invalid-feedback"></span>
    </div>
    <div id="form-ingress" class="input-group">
        <label asp-for="CourseIngress"></label>
        <input asp-for="CourseIngress" class="form-control" />
        <span asp-validation-for="CourseIngress" class="invalid-feedback"></span>
    </div>
    <div id="form-description" class="input-group">
        <label asp-for="CourseDescription"></label>
        <input asp-for="CourseDescription" class="form-control" />
        <span asp-validation-for="CourseDescription" class="invalid-feedback"></span>
    </div>

    <div id="form-category" class="input-group">
        <label asp-for="CourseCategory"></label>
        <input asp-for="CourseCategory" class="form-control" />
        <span asp-validation-for="CourseCategory" class="invalid-feedback"></span>
    </div>

    <div id="form-terms" class="checkbox-group">
        <input asp-for="IsBestseller" class="form-check-input" type="checkbox" /> @Html.DisplayNameFor(x => x.IsBestseller)
    </div>
    <div id="form-img" class="input-group">
        <div>
            <label for="courseImg">Course Image</label>
            <input type="file" name="courseImg" />
        </div>
        <div>
            <img src="~/uploads/courses-img/@Model.CourseImageUrl" alt="Course Image" style="width: 200px; height: auto;" />
            <input asp-for="CourseImageUrl" hidden />
        </div>
    </div>
    <hr />

    <h4 class="pb-2">Included: </h4>

    <div id="form-included" class="input-group">
        <label asp-for="Included.HoursOfVideo"></label>
        <input asp-for="Included.HoursOfVideo" class="form-control" />
        <span asp-validation-for="Included.HoursOfVideo" class="invalid-feedback"></span>
    </div>

    <div id="form-included" class="input-group">
        <label asp-for="Included.Articles"></label>
        <input asp-for="Included.Articles" class="form-control" />
        <span asp-validation-for="Included.Articles" class="invalid-feedback"></span>
    </div>

    <div id="form-included" class="input-group">
        <label asp-for="Included.Resourses"></label>
        <input asp-for="Included.Resourses" class="form-control" />
        <span asp-validation-for="Included.Resourses" class="invalid-feedback"></span>
    </div>



    <div id="form-terms" class="checkbox-group">
        <input asp-for="Included.LifetimeAccess" class="form-check-input" type="checkbox" /> @Html.DisplayNameFor(x => x.Included.LifetimeAccess)
    </div>

    <div id="form-terms" class="checkbox-group">
        <input asp-for="Included.Certificate" class="form-check-input" type="checkbox" /> @Html.DisplayNameFor(x => x.Included.Certificate)
    </div>


    <hr />

    <h4 class="pb-2">Ratings: </h4>

    <div id="form-rating-numbers" class="input-group">
        <label asp-for="Rating.InNumbers"></label>
        <input asp-for="Rating.InNumbers" class="form-control" />
        <span asp-validation-for="Rating.InNumbers" class="invalid-feedback"></span>
    </div>

    <div id="form-rating-procent" class="input-group">
        <label asp-for="Rating.InProcent"></label>
        <input asp-for="Rating.InProcent" class="form-control" />
        <span asp-validation-for="Rating.InProcent" class="invalid-feedback"></span>
    </div>

    <hr />

    <h4 class="pb-2">Price: </h4>

    <div id="form-price-original" class="input-group">
        <label asp-for="Price.OriginalPrice"></label>
        <input asp-for="Price.OriginalPrice" class="form-control" />
        <span asp-validation-for="Price.OriginalPrice" class="invalid-feedback"></span>
    </div>

    <div id="form-price-discount" class="input-group">
        <label asp-for="Price.DiscountPrice">DiscountPrice <span>(optinal)</span></label>
        <input asp-for="Price.DiscountPrice" class="form-control" />
        <span asp-validation-for="Price.DiscountPrice" class="invalid-feedback"></span>
    </div>



    <hr />

    <h4 class="pb-2">Author: </h4>

    <div id="form-author" class="input-group">
        <label asp-for="Author.FullName"></label>
        <input asp-for="Author.FullName" class="form-control" />
        <span asp-validation-for="Author.FullName" class="invalid-feedback"></span>
    </div>

    <div id="form-author" class="input-group">
        <label asp-for="Author.Biography"></label>
        <input asp-for="Author.Biography" class="form-control" />
        <span asp-validation-for="Author.Biography" class="invalid-feedback"></span>
    </div>

    <div id="form-author-img" class="input-group">
        <label for="courseImg">Profile Image</label>
        <input type="file" name="authorImage" />
        <img src="~/uploads/authors-img/@(!string.IsNullOrEmpty(Model.Author.ProfileImageUrl) ? Model.Author.ProfileImageUrl : "user-profile.png")" alt="Author Image" style="width: 120px; height: auto;" />
        <input asp-for="Author.ProfileImageUrl" hidden />
    </div>

    <div id="form-author-social" class="input-group">
        <label asp-for="Author.SocialMedia!.YouTubeUrl">Youtube Url<span>(optinal)</span></label>
        <input asp-for="Author.SocialMedia!.YouTubeUrl" class="form-control" />
        <span asp-validation-for="Author.SocialMedia!.YouTubeUrl" class="invalid-feedback"></span>
    </div>

    <div id="form-author-social" class="input-group">
        <label asp-for="Author.SocialMedia!.Subscribers">Subscribers<span>(optinal)</span></label>
        <input asp-for="Author.SocialMedia!.Subscribers" class="form-control" />
        <span asp-validation-for="Author.SocialMedia!.Subscribers" class="invalid-feedback"></span>
    </div>




    <div id="form-author-social" class="input-group">
        <label asp-for="Author.SocialMedia!.FacebookUrl">Facebook Url<span>(optinal)</span></label>
        <input asp-for="Author.SocialMedia!.FacebookUrl" class="form-control" />
        <span asp-validation-for="Author.SocialMedia!.FacebookUrl" class="invalid-feedback"></span>
    </div>

    <div id="form-author-social" class="input-group">
        <label asp-for="Author.SocialMedia!.Followers">Followers<span>(optinal)</span></label>
        <input asp-for="Author.SocialMedia!.Followers" class="form-control" />
        <span asp-validation-for="Author.SocialMedia!.Followers" class="invalid-feedback"></span>
    </div>

    <hr />

    <h4 class="pb-2">What you will learn: </h4>


    <div id="highlights-container">
        @for (int i = 0; i < Model.Highlights.Count; i++)
        {
            <div class="input-group highlight">
                <label class="pb-2 pt-2" asp-for="Highlights[i].Highlight">Highlight</label>
                <input asp-for="Highlights[i].Highlight" class="form-control" />
                <span asp-validation-for="Highlights[i].Highlight" class="invalid-feedback"></span>
            </div>

            @if (i > 0)
            {
                <button class="btn-danger-small" type="button" onclick="removeHighlight(this)">Remove</button>
            }
        }

    </div>
    <button class="btn-theme-medium" type="button" onclick="addHighlight()">Add Highlight</button>

    <hr />

    <div id="content-container">
        <h4 class="pb-2">Course Details:</h4>
        @for (int i = 0; i < Model.Content.Count; i++)
        {
            <div class="input-group content-item">
                <label class="pb-2 pt-2" asp-for="Content[i].Title">Title</label>
                <input asp-for="Content[i].Title" class="form-control" />
                <span asp-validation-for="Content[i].Title" class="invalid-feedback"></span>

                <label class="pb-2 pt-2" asp-for="Content[i].Description">Description</label>
                <input asp-for="Content[i].Description" class="form-control" />
                <span asp-validation-for="Content[i].Description" class="invalid-feedback"></span>

                @if (i > 0)
                {
                    <button class="btn-danger-small" type="button" onclick="removeContent(this)">Remove</button>
                }
            </div>
        }

    </div>
    <button class="btn-theme-medium" type="button" onclick="addContent()">Add More Details</button>


    <hr />












    <button id="form-submit" class="btn-theme-large" type="submit">
        <span id="button-text">Update Course</span>
    </button>
</div>