@using Presentation.WebApp.ViewModels.Admin

@model UpdateCourseViewModel

@{
    ViewData["Title"] = "Update Course";
}

@if (Model.Course != null)
{
    <section class="courses-admin">
        <div class="container">
            <form method="post" asp-controller="Admin" asp-action="UpdateCourse" novalidate enctype="multipart/form-data">
                <h1>Update Course</h1>
                <div class="content">

                    <div asp-validation-summary="All" class="validation-summary"></div>
                    <input asp-for="Course.Id" hidden />
                    <input asp-for="Course.Created" hidden />
                    <input asp-for="Course.LastUpdated" hidden />
                    <div id="form-title" class="input-group">
                        <label asp-for="Course.CourseTitle"></label>
                        <input asp-for="Course.CourseTitle" class="form-control" />
                        <span asp-validation-for="Course.CourseTitle" class="invalid-feedback"></span>
                    </div>
                    <div id="form-ingress" class="input-group">
                        <label asp-for="Course.CourseIngress"></label>
                        <input asp-for="Course.CourseIngress" class="form-control" />
                        <span asp-validation-for="Course.CourseIngress" class="invalid-feedback"></span>
                    </div>
                    <div id="form-description" class="input-group">
                        <label asp-for="Course.CourseDescription"></label>
                        <input asp-for="Course.CourseDescription" class="form-control" />
                        <span asp-validation-for="Course.CourseDescription" class="invalid-feedback"></span>
                    </div>
                   
                    <div id="form-category" class="input-group">
                        <label asp-for="Course.CourseCategory"></label>
                        <input asp-for="Course.CourseCategory" class="form-control" />
                        <span asp-validation-for="Course.CourseCategory" class="invalid-feedback"></span>
                    </div>

                    <div id="form-terms-seller" class="checkbox-group">
                        <input asp-for="Course.IsBestseller" class="form-check-input" type="checkbox" /> @Html.DisplayNameFor(x => x.Course.IsBestseller)
                    </div>

                    <div id="form-img" class="input-group">
                        <div>
                            <label for="courseImage">Course Image</label>
                            <input type="file" name="courseImage" />
                        </div>
                        <div>
                            <img src="~/uploads/courses-img/@(!string.IsNullOrEmpty(Model.Course.CourseImageUrl) ? Model.Course.CourseImageUrl : "course_9.png")" alt="Course Image" style="width: 200px; height: auto;" />
                            <input asp-for="Course.CourseImageUrl" hidden />
                        </div>
                    </div>

                    <hr />
                    <h4 class="pb-2">Included: </h4>

                    <div id="form-included-hours" class="input-group">
                        <label asp-for="Course.Included.HoursOfVideo"></label>
                        <input asp-for="Course.Included.HoursOfVideo" class="form-control" />
                        <span asp-validation-for="Course.Included.HoursOfVideo" class="invalid-feedback"></span>
                    </div>

                    <div id="form-included-articles" class="input-group">
                        <label asp-for="Course.Included.Articles"></label>
                        <input asp-for="Course.Included.Articles" class="form-control" />
                        <span asp-validation-for="Course.Included.Articles" class="invalid-feedback"></span>
                    </div>

                    <div id="form-included-resourses" class="input-group">
                        <label asp-for="Course.Included.Resourses"></label>
                        <input asp-for="Course.Included.Resourses" class="form-control" />
                        <span asp-validation-for="Course.Included.Resourses" class="invalid-feedback"></span>
                    </div>

                    <div id="form-terms-lifetime" class="checkbox-group">
                        <input asp-for="Course.Included.LifetimeAccess" class="form-check-input" type="checkbox" /> @Html.DisplayNameFor(x => x.Course.Included.LifetimeAccess)
                    </div>

                    <div id="form-terms-cert" class="checkbox-group">
                        <input asp-for="Course.Included.Certificate" class="form-check-input" type="checkbox" /> @Html.DisplayNameFor(x => x.Course.Included.Certificate)
                    </div>

                    <hr />
                    <h4 class="pb-2">Ratings: </h4>

                    <div id="form-rating-numbers" class="input-group">
                        <label asp-for="Course.Rating.InNumbers"></label>
                        <input asp-for="Course.Rating.InNumbers" class="form-control" />
                        <span asp-validation-for="Course.Rating.InNumbers" class="invalid-feedback"></span>
                    </div>

                    <div id="form-rating-procent" class="input-group">
                        <label asp-for="Course.Rating.InProcent"></label>
                        <input asp-for="Course.Rating.InProcent" class="form-control" />
                        <span asp-validation-for="Course.Rating.InProcent" class="invalid-feedback"></span>
                    </div>

                    <hr />
                    <h4 class="pb-2">Price: </h4>

                    <div id="form-price-original" class="input-group">
                        <label asp-for="Course.Price.OriginalPrice"></label>
                        <input asp-for="Course.Price.OriginalPrice" class="form-control" />
                        <span asp-validation-for="Course.Price.OriginalPrice" class="invalid-feedback"></span>
                    </div>
                    <div id="form-price-discount" class="input-group">
                        <label asp-for="Course.Price.DiscountPrice">DiscountPrice <span>(optinal)</span></label>
                        <input asp-for="Course.Price.DiscountPrice" class="form-control" />
                        <span asp-validation-for="Course.Price.DiscountPrice" class="invalid-feedback"></span>
                    </div>
                    <hr />
                    <h4 class="pb-2">Author: </h4>

                    <div id="form-author-name" class="input-group">
                        <label asp-for="Course.Author.FullName"></label>
                        <input asp-for="Course.Author.FullName" class="form-control" />
                        <span asp-validation-for="Course.Author.FullName" class="invalid-feedback"></span>
                    </div>

                    <div id="form-author-bio" class="input-group">
                        <label asp-for="Course.Author.Biography"></label>
                        <input asp-for="Course.Author.Biography" class="form-control" />
                        <span asp-validation-for="Course.Author.Biography" class="invalid-feedback"></span>
                    </div>

                    <div id="form-author-img" class="input-group">
                        <label for="authorImage">Profile Image</label>
                        <input type="file" name="authorImage" />
                        <img src="~/uploads/authors-img/@(!string.IsNullOrEmpty(Model.Course.Author.ProfileImageUrl) ? Model.Course.Author.ProfileImageUrl : "user-profile.png")" alt="Author Image" style="width: 120px; height: auto;" />
                        <input asp-for="Course.Author.ProfileImageUrl" hidden />
                    </div>

                    <div id="form-author-social-youtube" class="input-group">
                        <label asp-for="Course.Author.SocialMedia!.YouTubeUrl">Youtube Url<span>(optinal)</span></label>
                        <input asp-for="Course.Author.SocialMedia!.YouTubeUrl" class="form-control" />
                        <span asp-validation-for="Course.Author.SocialMedia!.YouTubeUrl" class="invalid-feedback"></span>
                    </div>

                    <div id="form-author-social-subs" class="input-group">
                        <label asp-for="Course.Author.SocialMedia!.Subscribers">Subscribers<span>(optinal)</span></label>
                        <input asp-for="Course.Author.SocialMedia!.Subscribers" class="form-control" />
                        <span asp-validation-for="Course.Author.SocialMedia!.Subscribers" class="invalid-feedback"></span>
                    </div>

                    <div id="form-author-social-facebook" class="input-group">
                        <label asp-for="Course.Author.SocialMedia!.FacebookUrl">Facebook Url<span>(optinal)</span></label>
                        <input asp-for="Course.Author.SocialMedia!.FacebookUrl" class="form-control" />
                        <span asp-validation-for="Course.Author.SocialMedia!.FacebookUrl" class="invalid-feedback"></span>
                    </div>

                    <div id="form-author-social-followers" class="input-group">
                        <label asp-for="Course.Author.SocialMedia!.Followers">Followers<span>(optinal)</span></label>
                        <input asp-for="Course.Author.SocialMedia!.Followers" class="form-control" />
                        <span asp-validation-for="Course.Author.SocialMedia!.Followers" class="invalid-feedback"></span>
                    </div>

                    <hr />
                    <h4 class="pb-2">What you will learn: </h4>

                    <div id="highlights-container">
                        @for (int i = 0; i < Model.Course.Highlights.Count; i++)
                        {
                            <div class="input-group highlight">
                                <label class="pb-2 pt-2" asp-for="Course.Highlights[i].Highlight">Highlight</label>
                                <input asp-for="Course.Highlights[i].Highlight" class="form-control" />
                                <span asp-validation-for="Course.Highlights[i].Highlight" class="invalid-feedback"></span>
                            </div>

                            @if (i > 0)
                            {
                                <button class="btn-danger-small" type="button" onclick="removeHighlight(this)">Remove</button>
                            }
                        }

                    </div>
                    <button class="btn-theme-medium" type="button" onclick="addHighlight()">Add Highlight</button>
                    <hr />

                    <div id="content-container">
                        <h4 class="pb-2">Course Details:</h4>
                        @for (int i = 0; i < Model.Course.Content.Count; i++)
                        {
                            <div class="input-group content-item">
                                <label class="pb-2 pt-2" asp-for="Course.Content[i].Title">Title</label>
                                <input asp-for="Course.Content[i].Title" class="form-control" />
                                <span asp-validation-for="Course.Content[i].Title" class="invalid-feedback"></span>

                                <label class="pb-2 pt-2" asp-for="Course.Content[i].Description">Description</label>
                                <input asp-for="Course.Content[i].Description" class="form-control" />
                                <span asp-validation-for="Course.Content[i].Description" class="invalid-feedback"></span>

                                @if (i > 0)
                                {
                                    <button class="btn-danger-small" type="button" onclick="removeContent(this)">Remove</button>
                                }
                            </div>
                        }

                    </div>
                    <button class="btn-theme-medium" type="button" onclick="addContent()">Add More Details</button>
                    <hr />
                    <button id="form-submit" class="btn-theme-large" type="submit">
                        <span id="button-text">Update Course</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
}
else
{
    <div>No Course.</div>
}

<script defer src="~/js/admin.js"></script>