@using Presentation.WebApp.ViewModels.Contact
@model ContactUsViewModel

@{
    ViewData["Title"] = "Contact";
}


<section class="contact">
    <div class="container grid-12">

        <nav>
            <ol>
                <li class="breadcrumb"><a href="">Home</a></li>
                <li class="breadcrumb active"><a href="">Contact</a></li>
            </ol>
        </nav>



        <div class="contact-details">
            <h1>Contact Us</h1>

            <div class="contact-content">
                <i class="fa-regular fa-envelope"></i>
                <div>
                    <h4>Email us</h4>
                    <p class="text-m">Please feel free to drop us a line. We will respond as soon as possible.</p>
                    <a href="#">Leave a message</a>
                </div>
            </div>


            <div class="contact-content">
                <i class="fa-regular fa-user-plus careers"></i>
                <div>
                    <h4>Careers</h4>
                    <p class="text-m">Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                    <a href="#">Send an application</a>
                </div>
            </div>

        </div>

        <div class="contact-form">
            <h2>Get In Contact With Us</h2>
            

            <form method="post" novalidate>

                <div class="content">

                    <div id="form-fullname" class="input-group">
                        <label asp-for="FullName">Full name</label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="invalid-feedback"></span>
                    </div>

                    <div id="form-email" class="input-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="invalid-feedback"></span>
                    </div>

                    <div id="form-service" class="input-group">
                        <label asp-for="Service">Service <span>(optional)</span></label>
                        <select asp-for="Service" class="form-select">
                            <option selected disabled>Choose the service you are interested in</option>
                            <option>...</option>
                        </select>
                        <span asp-validation-for="Service" class="invalid-feedback"></span>
                    </div>


                    <div id="form-message" class="input-group">
                        <label asp-for="Message"></label>
                        <textarea asp-for="Message" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Message" class="invalid-feedback"></span>
                    </div>

                    <div id="form-buttons">
                        <button class="btn-theme-small" type="submit" name="action" value="basicinfo">Send Contact Request</button>
                    </div>

                </div>
               
            </form>



            

        </div>
    </div>
</section>

<section class="map">
    <img src="/img/contact/map.svg" alt="">
</section>


