@model ContactUsViewModel

@{
    ViewData["Title"] = "Contact";
}

<section class="contact">
    <div class="container grid-12">
        <div class="breadcrumbs">
            <nav>
                <ol>
                    <li> <a asp-action="Home" asp-controller="Default"><i class="fa-regular fa-house me-2"></i>Home</a></li>
                    <li><i class="fa-regular fa-angles-right"></i></li>
                    <li class="active"><a asp-action="Contact" asp-controller="Contact" class="active">Contact</a></li>
                </ol>
            </nav>
        </div>
        <div class="contact-details">
            <h1>Contact Us</h1>
            <div class="contact-content">
                <i class="fa-regular fa-envelope icon"></i>
                <div>
                    <h4>Email us</h4>
                    <p class="text-m">Please feel free to drop us a line. We will respond as soon as possible.</p>
                    <a href="#">Leave a message<i class="fa-regular fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="contact-content">
                <i class="fa-regular fa-user-plus careers icon"></i>
                <div>
                    <h4>Careers</h4>
                    <p class="text-m">Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                    <a href="#">Send an application<i class="fa-regular fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <h2>Get In Contact With Us</h2>
            <form method="post" asp-action="Contact" asp-controller="Contact" novalidate>
                <div class="content">
                    <div id="form-fullname" class="input-group">
                        <label asp-for="FullName">Full name</label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="invalid-feedback"></span>
                    </div>

                    <div id="form-email" class="input-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="invalid-feedback"></span>
                    </div>

                    <div id="form-service" class="input-group">
                        <label asp-for="Service">Service <span>(optional)</span></label>
                        <select asp-for="Service" class="form-select">
                            <option selected value="">Choose the service you are interested in</option>
                            <option value="Service1">Service 1</option>
                            <option value="Service2">Service 2</option>
                            <option value="Service3">Service 3</option>
                            <option value="Service4">Service 4</option>
                        </select>
                        <span asp-validation-for="Service" class="invalid-feedback"></span>
                    </div>

                    <div id="form-message" class="input-group">
                        <label asp-for="Message"></label>
                        <textarea asp-for="Message" id="message" class="form-control" rows="5" type="text"></textarea>
                        <span asp-validation-for="Message" class="invalid-feedback"></span>
                    </div>

                    <div id="form-buttons">
                        <button class="btn-theme-small" type="submit">Send Contact Request</button>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>

<section class="map">
    <img src="~/images/contact/map.svg" alt="Map of Silver Terrace">
</section>