@{
    ViewData["Title"] = "Ooops! You dont have access!";
}

<section class="not-found">
    <div class="container">
        <div class="content">
            <h1 class="d5">STOP!</h1>
            <p class="text-xl">You dont have access!</p>
        </div>
        <nav>
            <a class="btn-theme-medium" asp-action="Home" asp-controller="Default"><i class="fa-regular fa-house"></i>Go to homepage</a>
        </nav>
    </div>
</section>