@model HomeViewModel

<section id="showcase">
    <img class="background-image" src="~/images/showcase/showcase_img.svg">
    <div class="container">
        <div class="content">
            <h1>Task Management Assistant You Gonna Love</h1>
            <p>
                We offer you a new generation of task management system. PLan, manage & track all your tasks in
                one flexible tool
            </p>
            <a class="btn-theme-medium" asp-action="SignUp" asp-controller="Authentication">Get started for free</a>
            <h6>Largest companies use our tool to work efficiently</h6>
            <div class="brands">
                <img src="~/images/brands/brand1.svg" alt="">
                <img src="~/images/brands/brand2.svg" alt="">
                <img src="~/images/brands/brand3.svg" alt="">
                <img src="~/images/brands/brand4.svg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="our-tool">
    <div class="container">
        <h1>What do you get with our tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        @await Html.PartialAsync("~/Views/Shared/Partials/Sections/Home/_ToolBoxesPartial.cshtml", Model.ToolBoxes)
    </div>
</section>
<section class="switch-between">
    <div class="container">
        <div>
            <h1>Switch Between</h1>
            <h1>Light & Dark Mode</h1>
        </div>
        <img src="~/images/switch-between/mockup.svg" alt="Laptop with dark and light mode">
    </div>
</section>
<section class="manage-work">
    <div class="container grid-12">
        <img class="" src="~/images/manage-your-work/manage_work.svg" alt="Dashboard">
        <div class="work-list">
            <h2>Manage Your Work</h2>
            @await Html.PartialAsync("~/Views/Shared/Partials/Sections/Home/_UnsortedListPartial.cshtml", Model.UnsortedList)
            <a class="btn-theme-medium" href="#">Learn more<i class="fa-sharp fa-regular fa-arrow-right"></i></a>
        </div>
    </div>
</section>
<section class="our-app">
    <div class="container">
        <img class="phones col-sm-12 col-md-5 col-lg-5 col-xl-5" src="~/images/download-app/phones.svg" alt="Phone">
        <div class="col-sm-12 col-md-7 col-lg-5 col-xl-5 col-xxl-4 content">
            <h1>Download Our App for Any Devices:</h1>
            @await Html.PartialAsync("~/Views/Shared/Partials/Sections/Home/_DownloadApp.cshtml", Model.AppList)
        </div>
    </div>
</section>
<section class="work-tools">
    <div class="container">
        <h1 class="text-center">Integrate Top Work Tools</h1>
        <p class="text-l text-center pt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            volutpat mollis
            egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec
            lacus.
        </p>
        <div class="tools grid-12">
            @foreach (var boxes in Model.CompanyBoxes)
            {
                <div class="box">
                    <img src="@boxes.ImageUrl" alt="@boxes.ImageAlt">
                    <p class="text-m">@boxes.Description</p>
                </div>
            }
        </div>
    </div>
</section>
<section class="newsletter">
    <div class="container grid-12">
        <div class="content">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="/images/newsletter/arrows.svg" alt="Arrows">
            <div class="options">
                <h5>Sign up for Newsletters</h5>
                <div class="checkboxes">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Daily Newsletter</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Advertising Updates</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Week in Review</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Event Updates</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Startups Weekly</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">Podcasts</label>
                    </div>
                </div>
            </div>
            <form novalidate>
                <div class="input-group">
                    <input type="email" class="form-control ps-5" placeholder="Your email">
                    <i class="fa-regular fa-envelope"></i>
                    <button type="submit" class="btn-theme-medium">Subscribe *</button>
                    <label> * Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</label>
                </div>
            </form>
            <div class="form-text fs-sm text-sm-start text-center">
            </div>
        </div>
    </div>
</section>