@model HomeViewModel


@await Html.PartialAsync("~/Views/Default/_ShowCasePartial.cshtml")

@await Html.PartialAsync("~/Views/Default/_ToolBoxesPartial.cshtml")

@await Html.PartialAsync("~/Views/Default/_SwitchBetweenPartial.cshtml")

@await Html.PartialAsync("~/Views/Default/_ManageWorkPartial.cshtml")

@await Html.PartialAsync("~/Views/Default/_OurAppPartial.cshtml")

@await Html.PartialAsync("~/Views/Default/_WorkToolsPartial.cshtml")

<section id="subscribe" class="newsletter">
    @await Html.PartialAsync("~/Views/Default/_SubscribePartial.cshtml")
</section>
