@{
    var user = await UserManager.GetUserAsync(User);
}

@if (user != null)
{
    <div class="account-user">
        <div class="account-user-img">
            <img src="~/uploads/@user.ProfileImageUrl" alt="Profile Image">
            <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="UploadProfileImage">
                <input type="file" name="file" id="uploadFile" hidden />
                <label for="uploadFile" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Change picture" data-bs-custom-class="custom-tooltip" class="fa-regular fa-arrows-rotate-reverse change-user-img"></label>
            </form>
        </div>
        <h5>@user.FirstName @user.LastName</h5>
        <p class="text-m">@user.Email</p>
    </div>
}