@using Presentation.WebApp.ViewModels.Account



@model DeleteAccountViewModel



@{
    ViewData["Title"] = "Security";
}

<section class="account-security">
    <div class="container grid-12">
        @await Component.InvokeAsync("AccountPanel")
        <div class="account-form">
            <h2>Security</h2>
            <div asp-validation-summary="ModelOnly" class="error-message"></div>
            <div class="change-password">
                <h5>Password</h5>
                <form method="post" asp-controller="Account" asp-action="Details" novalidate>
                    <div class="content">
                        <div id="form-currentPassword" class="input-group">
                            <label asp-for="CurrentPassword"></label>
                            <input asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="invalid-feedback"></span>
                        </div>
                        <div id="form-newPassword" class="input-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="invalid-feedback"></span>
                        </div>
                        <div id="form-confirmPassword" class="input-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
                        </div>
                        <div id="form-buttons">
                            <button class="btn-gray-small" type="reset">Cancel</button>
                            <button class="btn-theme-small" type="submit">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr />
            <div class="delete-account">
                <h5>Delete account</h5>

                <form method="post" asp-controller="Account" asp-action="Details" novalidate>
                    <div class="content">
                        <div id="form-delete" class="checkbox-group">
                            <input asp-for="DeletePassword" class="form-check-input" type="checkbox" />
                            <label asp-for="DeletePassword">I agree to the <a asp-action="Terms">Terms</a> & <a asp-action="Conditions">Conditions</a> </label>
                            <span asp-validation-for="DeletePassword" class="invalid-feedback"></span>
                        </div>
                        <button id="form-button" class="btn-theme-small" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/js/sign-up-validation.js" defer></script>