@using Infrastructure.Entities.MongoDb
@model CourseEntity


<aside class="course-include">
    <h4>This course includes:</h4>
    <ul>
        @if (Model.Included.HoursOfVideo > 0)
        {
            <li><i class="fa-light fa-display"></i>@Model.Included.HoursOfVideo hours on-demand video</li>
        }
        @if (Model.Included.Articles > 0)
        {
            <li><i class="fa-light fa-file-lines"></i>@Model.Included.Articles articles</li>
        }
        @if (Model.Included.Resourses > 0)
        {
            <li><i class="fa-light fa-arrow-down-to-bracket"></i>@Model.Included.Resourses downloadable resources</li>
        }
        @if (Model.Included.LifetimeAccess)
        {
            <li><i class="fa-light fa-infinity"></i>Full lifetime access</li>
        }
        @if (Model.Included.Certificate)
        {
            <li><i class="fa-light fa-trophy"></i>Certificate of completion</li>
        }
    </ul>

    @if (!string.IsNullOrEmpty(@Model.Price.DiscountPrice))
    {
        <div class="course-price pb-2">
            <h2>$@Model.Price.DiscountPrice</h2>
            <p class="text-xl">$@Model.Price.OriginalPrice</p>
        </div>

    }
    else
    {
        <div class="course-price pb-2">
            <h2>$@Model.Price.OriginalPrice</h2>

        </div>

    }

    <a class="btn-theme-large" href="#">Join course</a>
</aside>