@using Presentation.WebApp.ViewModels.Authentication
@model SignUpViewModel

@{
    ViewData["Title"] = "Register";
}

<section id="signup">
    <div class="container">
        <form method="post" asp-controller="Authentication" asp-action="SignUp" novalidate>
            <h1>Create Account</h1>
            <p>Already have an account? <a asp-action="SignIn">Sign in here.</a></p>
            <div class="content">
                <div id="form-firstname" class="input-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="invalid-feedback"></span>
                </div>
                <div id="form-lastname" class="input-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="invalid-feedback"></span>
                </div>
                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="invalid-feedback"></span>
                </div>
                <div id="form-password" class="input-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="invalid-feedback"></span>
                </div>
                <div id="form-confirm" class="input-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
                </div>
                <div id="form-terms" class="checkbox-group">
                    <input asp-for="TermsAndConditions" class="form-check-input" type="checkbox" />
                    <label asp-for="TermsAndConditions">I agree to the <a asp-action="Terms">Terms</a> & <a asp-action="Conditions">Conditions</a> </label>
                    <span asp-validation-for="TermsAndConditions" class="invalid-feedback"></span>
                </div>
                <button id="form-submit" class="btn-theme-large" type="submit">
                    <span id="button-text">Sign Up</span>
                    <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                </button>      
            </div>
        </form>
    </div>
</section>
@await Html.PartialAsync("~/Views/Shared/Partials/Alert/_AlertMessages.cshtml")
<script src="~/js/sign-up-validation.js" defer></script>